.table.table-header tbody tr th{
    background-color: #00a65a;
    color: #fff;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #ddd !important;
}

/* datepicker css */
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: #acacac;
}

.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover {
    background: #eee;
}

.datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
    background: #eee;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover  {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
/* end datepicker css */

.number{
    text-align: right;
}

#notifUl{
    width: auto;
    min-height: 30px;
    min-width: 250px;
    max-width: 350px;
}
.direct-chat-text{
    width: auto;
}

.main-sidebar .sidebar {
    overflow-y: scroll;
}

@media (min-width: 992px) {
    /*.table-responsive {*/
    /*overflow-x: hidden;*/
    /*}*/
}

.panel-schedule{
    padding : 5px;
}

.panel-schedule span{
    display:block;
    font-size: 13px;
}

.panel-schedule span.bold{
    font-weight:bold;
}